<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/body">
<th:block layout:fragment="content">
  <head>
    <meta charset="UTF-8">
    <title>memberList</title>
    <link rel="stylesheet" th:href="@{/css/member/list.css}"> </link>
  </head>
  <body>
    <div>
      <h3>사용자 목록</h3>
    </div>
    <div class="wrap">
      <div>
        <!-- TODO:// 페이징 처리 시 받아오기 -->
        <span>총</span>
      </div>

      <div>
        <select id="searchType">
          <option id="searchId" selected>아이디</option>
          <option id="searchName">이름</option>
          <option id="searchPhone">전화번호</option>
          <option id="searchAddr">주소</option>
          <option id="searchCreateTime">가입일자</option>
          <option id="searchGrade">사용자등급</option>
        </select>
      </div>

      <div>
        <input type="text" placeholder="검색어를 입력해주세요"/>
      </div>
      <div>
        <button id="searchBtn">
          <span>검색</span>
        </button>
      </div>

      <div>
        <div>
          <button id="saveBtn" data-toggle="modal" data-target="#saveModal">
            <span>등록</span>
          </button>
        </div>
        <div>
          <button id="deleteBtn">
            <span>삭제</span>
          </button>
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>전체<input type="checkbox"/></th>
          <th>순번</th>
          <th>아이디</th>
          <th>이름</th>
          <th>전화번호</th>
          <th>주소</th>
          <th>가입일자</th>
          <th>사용자 등급</th>
          <th>잠김 여부</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="member : ${memberList}">
          <td><input type="checkbox"/></td>
          <td>1</td>
          <td th:text="${member.id}"></td>
          <td th:text="${member.name}"></td>
          <td th:text="${member.phone}"></td>
          <td th:text="${member.basicAddr}"></td>
          <td th:text="${member.createTime}"></td>
          <td th:text="${member.grade}"></td>
          <td th:text="${member.errCnt}"></td>

        </tr>
      </tbody>
    </table>

    <!-- save modal -->
    <div class="modal" style="display:none;">
      <div class="modal_popup">
        <div class="mb-3 row">
          <label for="saveId" class="col-sm-2 col-form-label">아이디</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="saveId">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="saveName" class="col-sm-2 col-form-label">이름</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="saveName">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="savePhone" class="col-sm-2 col-form-label">전화번호</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="savePhone">
          </div>
        </div>

        <div>
          <span>주소</span>
          <input class="form-control" type="text" id="saveZipCode" placeholder="우편번호" disabled>
          <button type="button" class="btn btn-dark" id="searchAddrBtn">검색</button>
          <input class="form-control" type="text" id="saveBasicAddr" disabled>
          <label for="saveName" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="saveDetailAddr">
          </div>
        </div>
        <div>
          <label for="saveGrade" class="col-sm-2 col-form-label">사용자등급</label>
          <select id="saveGrade" class="form-select">
            <option value="C" selected>일반 사용자</option>
            <option value="B">중간 관리자</option>
            <option value="A">관리자</option>
          </select>
        </div>
        <div>

          <button id="modalSaveBtn">
            <span>등록</span>
          </button>
          <button id="modalCancelBtn">
            <span >취소</span>
          </button>
        </div>
      </div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/js/member/list.js}"></script>
  </body>
</th:block>
</html>