<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.leeni.board.mapper.MemberMapper">

    <select id="selectById" parameterType="String">
        SELECT
            COUNT(*)
        FROM user_info
        WHERE
            id = #{id}
          AND del_yn='N'
    </select>

    <select id="selectMemberList" parameterType="String">
        SELECT
              no
            , id
            , name
            , phone
            , basic_addr
            , detail_addr
            , grade
            , err_cnt
            , TO_CHAR(create_time, 'YYYY-MM-DD HH24:MI:SS') AS create_time
        FROM user_info
        WHERE del_yn='N'
        ORDER BY create_time desc
    </select>

    <insert id="save" parameterType="String">
        INSERT INTO user_info
            (id, name, phone, zipCode, basicAddr, detailAddr, grade)
        VALUES
            (#{id}, #{name}, #{phone}, #{zipCode}, #{basicAddr}, #{detailAddr}, #{grade})

    </insert>


</mapper>