<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.leeni.board.mapper.MemberMapper">

    <select id="selectById" parameterType="String">
        SELECT
            COUNT(*)
        FROM user_info
        WHERE
            id = #{id}
          AND del_yn='N'
    </select>

    <select id="selectMemberCount" parameterType="kr.co.leeni.board.model.SearchDto">
        SELECT
                COUNT(*)
        FROM user_info
        WHERE del_yn='N'
    </select>

    <select id="selectMemberList" parameterType="kr.co.leeni.board.model.SearchDto">
        SELECT
              no
            , id
            , name
            , phone
            , basic_addr
            , detail_addr
            , grade
            , err_cnt
            , TO_CHAR(create_time, 'YYYY-MM-DD HH24:MI:SS') AS create_time
        FROM user_info
        WHERE del_yn='N'
        <choose>
            <when test="searchWord != '' and searchType == 'searchTypeId'">
                AND id LIKE CONCAT('%', #{searchWord}, '%')
            </when>
            <when test="searchWord != '' and searchType == 'searchTypeName'">
                AND name LIKE CONCAT('%', #{searchWord}, '%')
            </when>
            <when test="searchWord != '' and searchType == 'searchTypePhone'">
                AND phone LIKE CONCAT('%', #{searchWord}, '%')
            </when>
            <when test="searchWord != '' and searchType == 'searchTypeAddr'">
                AND (
                        basic_addr LIKE CONCAT('%', #{searchWord}, '%')
                        OR detail_Addr LIKE CONCAT('%', #{searchWord}, '%')
                )
            </when>
            <when test="searchType == 'searchTypeCreateTime'">
                AND create_time BETWEEN #{searchStartDate} AND #{searchEndDate}
            </when>

            <when test="searchGrade != '' and searchType == 'searchTypeGrade'">
                AND grade = #{searchGrade}
            </when>
        </choose>
        ORDER BY create_time desc
    </select>

    <insert id="saveMember" parameterType="String">
        INSERT INTO user_info
            (id, pwd, name, phone, zip_code, basic_Addr, detail_Addr, grade, update_id)
        VALUES
            (#{id}, #{pwd}, #{name}, #{phone}, #{zipCode}, #{basicAddr}, #{detailAddr}, #{grade}, #{updateId})

    </insert>


</mapper>